/* Основные стили для всего документа */

body {
    font-family: Arial, sans-serif;
    /* Устанавливаем шрифт */
    background-color: #ede1d8;
    /* Цвет фона */
    color: #000000;
    /* Цвет текста */
    margin: 0;
    /* Убираем отступы */
    padding: 20px;
    /* Добавляем внутренние отступы */
}


/* Заголовки */

h1 {
    color: #000000;
    /* Цвет заголовков */
}


/* Стили для таблицы */

table {
    width: 100%;
    /* Ширина таблицы */
    border-collapse: collapse;
    /* Убираем промежутки между ячейками */
    margin-bottom: 20px;
    /* Отступ снизу таблицы */
}

th,
td {
    padding: 10px;
    /* Внутренние отступы для ячеек */
    border: 1px solid #000000;
    /* Граница ячеек */
    text-align: left;
    /* Выравнивание текста в ячейках влево */
}

th {
    background-color: #70593b;
    /* Цвет фона шапки таблицы */
    color: rgb(255, 255, 255);
    /* Цвет текста в шапке таблицы */
}


/* Стили для кнопок */

.my-button {
    background-color: #70593b;
    /* Основной цвет кнопки */
    color: white;
    /* Цвет текста кнопки */
    border: none;
    /* Убираем рамку */
    padding: 10px 15px;
    /* Отступы */
    cursor: pointer;
    /* Указываем, что кнопка кликабельна */
    margin-bottom: 20px;
    /* Отступ снизу кнопки */
}

.my-button:hover {
    background-color: #34260d;
    /* Цвет кнопки при наведении мыши */
}


/* Стили для форм */

form {
    background-color: rgb(211, 197, 183);
    /* Цвет фона формы */
    padding: 20px;
    /* Внутренние отступы */
    border-radius: 5px;
    /* Скругление углов */
    box-shadow: 0 0 10px rgba(18, 17, 17, 0.241);
    /* Тень для формы */
}

label {
    display: block;
    /* Каждый элемент label занимает свою строку */
    margin-bottom: 5px;
    /* Отступ снизу для label */
}

input[type="number"],
input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    /* Ширина инпутов */
    padding: 10px;
    /* Внутренние отступы */
    margin-bottom: 15px;
    /* Отступ снизу инпутов */
    border: 1px solid #ccc;
    /* Рамка инпутов */
    border-radius: 4px;
    /* Скругление углов */
}


/* Стили для сообщений об ошибках */

.error-message {
    color: red;
    /* Цвет ошибок */
    margin-top: -10px;
    /* Отрицательный отступ для расположения сообщений */
    margin-bottom: 10px;
    /* Отступ вниз */
}