<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" , content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/comment.css">
</head>

<body>
    <h1>Таблица Comment</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>News</th>
                <th>Author</th>
                <th>Content</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for comm in com %}
            <tr>
                <td>{{ comm.id }}</td>
                <td>{{ comm.news }}</td>
                <td>{{ comm.author }}</td>
                <td>{{ comm.content }}</td>
                <td>{{ comm.data }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <button class="my-button" , onclick="window.location.href='http://127.0.0.1:8000/'">
        Вернутся на главную
    </button>
    <h1>Создать запись Comment</h1>
    <form id="commentForm" , method="post" , action="http://127.0.0.1:8000/comment_create">
        <label for="news">News:</label>
        <input type="text" , id="news" , name="news"><br><br>
        <label for="author">Author:</label>
        <input type="text" , id="author" , name="author"><br><br>
        <label for="content">Content:</label>
        <input type="text" , id="content" , name="content"><br><br>
        <label for="data">Data:</label>
        <input type="datetime" , id="data" , name="data"><br><br>

        <button type="submit" , class="my-button">Создать запись</button>
    </form>
    <h1>Обновить данные</h1>
    <form id="comForm">
        <label for="id">Id:</label>
        <input type="number" , id="id" , name="id" required><br><br>

        <label for="News">News:</label>
        <input type="text" , id="news" , name="news" required><br><br>

        <label for="Author">Author:</label>
        <input type="text" , id="author" , name="author" required><br><br>

        <label for="Content">Content:</label>
        <input type="text" , id="content" , name="content" required><br><br>

        <label for="Data">Data:</label>
        <input type="datetime" , id="data" , name="data" required><br><br>

        <button type="button" , class="my-button" , onclick=updateComment()>Изменить данные</button>
    </form>
    <h1>Удаление записи Comment</h1>
    <form id="coForm">
        <label for="Id">ID:</label>
        <input type="number" , id="id" , name="id"><br><br>

        <button type="button" , class="my-button" , onclick=comDel()>Удалить запись</button>
    </form>
    <script src="/static/comment.js "></script>
</body>

</html>