<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport", content="width=device-width, initial-scale=1.0">
    <title>Table Comment</title>
</head>
<body>
    <h1>Таблица Table</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>News</th>
                <th>Author</th>
                <th>Content</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for comm in com %}
            <tr>
                <td>{{ comm.id }}</td>
                <td>{{ comm.news }}</td>
                <td>{{ comm.author }}</td>
                <td>{{ comm.content }}</td>
                <td>{{ comm.data }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>