<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport", content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>Перейти к таблицам</h1>
    <button class="my-button" onclick="window.location.href='http://127.0.0.1:8000/users';">
        Перейти к таблице Users
    </button>
    <button class="my-button", onclick="window.location.href='http://127.0.0.1:8000/roles'">
        Перейти к таблице Roles
    </button>
    <button class="my-button", onclick="window.location.href='http://127.0.0.1:8000/news'">
        Перейти к таблице News
    </button>
    <button class="my-button", onclick="window.location.href='http://127.0.0.1:8000/comment'">
        Перейти к талице Comment
    </button>
</body>
</html>