<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport", content="width=device-width, initial-scale=1.0">
    <title> Roles table</title>
</head>
<body>
    <h1>Таблица Roles</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for ro in role %}
            <tr>
                <td>{{ ro.id }}</td>
                <td>{{ ro.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <button class="my-button", onclick="window.location.href='http://127.0.0.1:8000/'">
        Вернутся на главную
    </button>
</body>
</html>