<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport", content="width=device-width, initial-scale=1.0">
    <title> Roles table</title>
</head>
<body>
    <h1>Таблица Roles</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for ro in role %}
            <tr>
                <td>{{ ro.id }}</td>
                <td>{{ ro.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <button class="my-button", onclick="window.location.href='http://127.0.0.1:8000/'">
        Вернутся на главную
    </button>
    <h1>Создать запись Roles</h1>
    <form id="rolesFrom", method="post", action="http://127.0.0.1:8000/roles_create">
        <label for="name">name:</label>
        <input type="text", id="name", name="name" required><br><br>

        <button type="submit", class="my-button">Создать запись</button>
    </form>
    <h1> Изменение записи Roles</h1>
    <form id="rolForm">
        <label for="id">Id:</label>
        <input type="number", id="id", name="id" required><br><br>

        <label for="name">Name:</label>
        <input type="text", id="name", name="name" required><br><br>

        <button type="button", onclick=updateRoles()>Изменить данные</button>
    </form>
    <script>
        function updateRoles() {
            const form = document.getElementById('rolForm');

            const rolId = form.id.value;
            console.log("Roles ID:", rolId);
            if (!rolId) {
                alert("Пожалуйста, введите ID");
                return;
            }

            const data = {
                name: form.name.value 
            };

            fetch(`http://127.0.0.1:8000/roles/${rolId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Ошибка при обновлении данных');
                }
                return response.json();
            })
            .then(data => {
                alert('Данные успешно обновлены!');
            })
            .catch((error) => {
                console.error('Произошла ошибка:', error);
                alert('Не удалось обновить данные');
            });
        }
    </script>
</body>
</html>