<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users table</title>
</head>
<body>
    <h1>Список пользователей</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Role ID</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.role_id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <button class="my-button", onclick="window.location.href='http://127.0.0.1:8000/'">
        Вернутся на главную
    </button>
    <h1>Создать запись пользователя</h1>
    <form id="userForm" method="post" action="http://127.0.0.1:8000/user_create">
        <label for="role_id">ID роли:</label>
        <input type="number" id="role_id" name="role_id" required><br><br>
        
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit" class="my-button">Создать запись</button>
    </form>

    <h1>Обновить информацию о пользователе</h1>
    
</body>
</html>